<section class="about-us" id="about-us">
  <h2 class="title">About us</h2>
  <p>
    Travel is our life. We have been organizing tours to the Carpathians since
    2007 and have never been bored for a single day. The Carpathians are many
    interesting and unexplored places that are worth visiting and showing them
    to others.
  </p>
  <p>
    Coming to the Carpathians will make you forget about the polluted, noisy
    world and enjoy untouched nature. From picturesque forests to clean rivers
    and lakes and Carpathian streams between the mountains, which offer magical
    landscapes and allow you to forget about all problems and unnecessary
    thoughts.
  </p>
</section>
