<footer class="footer" id="contacts">
  <div class="container">
    <h2 class="title">Contacts</h2>
    <div class="content">
      <ul>
        <li class="item">
          <svg class="icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-place"></use>
          </svg>
          Lviv, st Dorosheko, 44 k
        </li>
        <li class="item">
          <a class="link" href="tel:+380971626790"
            ><svg class="icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-phone"></use>
            </svg>
            +38 (097) 162-67-90</a
          >
        </li>
        <li class="item">
          <a class="link" href="mailto:mandrykarpaty@gmail.com"
            ><svg class="icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-email"></use>
            </svg>
            mandrykarpaty@gmail.com
          </a>
        </li>
      </ul>
    <load ="partials/networks.html" />
    </div>
  </div>

  <p class="copyright">&#169; Created by LelekaSoft</p>
</footer>
