<section class="gallery" id="gallery">
  <h2 class="title">Gallery</h2>
  <div class="swiper" data-id="gallery">
    <ul class="list swiper-wrapper">
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="
              ./img/tablet/gallery-1.webp    1x,
              ./img/tablet/gallery-1@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-1.webp    1x,
              ./img/mobile/gallery-1@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/tablet/gallery-1.jpg    1x,
              ./img/tablet/gallery-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-1.jpg    1x,
              ./img/mobile/gallery-1@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="img"
            src="./img/mobile/gallery-1.jpg"
            alt="Gallery-1"
            height="480"
          />
        </picture>
      </li>
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="
              ./img/tablet/gallery-2.webp    1x,
              ./img/tablet/gallery-2@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-2.webp    1x,
              ./img/mobile/gallery-2@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/tablet/gallery-2.jpg    1x,
              ./img/tablet/gallery-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-2.jpg    1x,
              ./img/mobile/gallery-2@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="img"
            src="./img/mobile/gallery-2.jpg"
            alt="Gallery-2"
            height="480"
          />
        </picture>
      </li>
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="
              ./img/tablet/gallery-3.webp    1x,
              ./img/tablet/gallery-3@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-3.webp    1x,
              ./img/mobile/gallery-3@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/tablet/gallery-3.jpg    1x,
              ./img/tablet/gallery-3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-3.jpg    1x,
              ./img/mobile/gallery-3@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="img"
            src="./img/mobile/gallery-3.jpg"
            alt="Gallery-3"
            height="480"
          />
        </picture>
      </li>
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="
              ./img/tablet/gallery-4.webp    1x,
              ./img/tablet/gallery-4@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-4.webp    1x,
              ./img/mobile/gallery-4@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/tablet/gallery-4.jpg    1x,
              ./img/tablet/gallery-4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-4.jpg    1x,
              ./img/mobile/gallery-4@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="img"
            src="./img/mobile/gallery-4.jpg"
            alt="Gallery-4"
            height="480"
          />
        </picture>
      </li>
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="
              ./img/tablet/gallery-5.webp    1x,
              ./img/tablet/gallery-5@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-5.webp    1x,
              ./img/mobile/gallery-5@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/tablet/gallery-5.jpg    1x,
              ./img/tablet/gallery-5@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-5.jpg    1x,
              ./img/mobile/gallery-5@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="img"
            src="./img/mobile/gallery-5.jpg"
            alt="Gallery-5"
            height="480"
          />
        </picture>
      </li>
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="
              ./img/tablet/gallery-6.webp    1x,
              ./img/tablet/gallery-6@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-6.webp    1x,
              ./img/mobile/gallery-6@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/tablet/gallery-6.jpg    1x,
              ./img/tablet/gallery-6@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-6.jpg    1x,
              ./img/mobile/gallery-6@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="img"
            src="./img/mobile/gallery-6.jpg"
            alt="Gallery-6"
            height="480"
          />
        </picture>
      </li>
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="
              ./img/tablet/gallery-7.webp    1x,
              ./img/tablet/gallery-7@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-7.webp    1x,
              ./img/mobile/gallery-7@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/tablet/gallery-7.jpg    1x,
              ./img/tablet/gallery-7@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-7.jpg    1x,
              ./img/mobile/gallery-7@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="img"
            src="./img/mobile/gallery-7.jpg"
            alt="Gallery-7"
            height="480"
          />
        </picture>
      </li>
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="
              ./img/tablet/gallery-8.webp    1x,
              ./img/tablet/gallery-8@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-8.webp    1x,
              ./img/mobile/gallery-8@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/tablet/gallery-8.jpg    1x,
              ./img/tablet/gallery-8@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/gallery-8.jpg    1x,
              ./img/mobile/gallery-8@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="img"
            src="./img/mobile/gallery-8.jpg"
            alt="Gallery-8"
            height="480"
          />
        </picture>
      </li>
    </ul>
    <div class="navigation">
      <div class="swiper-button-prev-gallery">
        <svg class="icon" width="11" height="19">
          <use href="./img/sprite.svg#icon-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next-gallery">
        <svg class="icon" width="11" height="19">
          <use href="./img/sprite.svg#icon-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
