<header class="header">
  <load ="partials/logo.html" />
  <button class="menu js-open-modal" data-modal="menu" type="button">
    <svg class="icon" width="30" height="30">
      <use href="./img/sprite.svg#icon-menu"></use>
    </svg>
  </button>
  <load ="partials/navigation.html" />
</header>
