<section class="hero">
  <div class="content">
    <h1 class="title">TOURS TO THE CARPATHIANS FROM LVIV</h1>
    <h2 class="subtitle">
      Journeys to the very heart of the Carpathians for those who want a real
      reboot
    </h2>
    <div class="box">
      <button class="btn js-open-modal" data-modal="book" type="button">Book a tour</button>
      <div class="networks"><load ="partials/networks.html" /></div>
    </div>
  </div>
</section>
