<div class="modal" data-modal="menu">
  <button class="modal-close js-modal-close">
    <svg class="icon" width="30" height="30">
      <use href="./img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="menu-modal">
    <load ="partials/logo.html" />
    <load ="partials/navigation.html" />
    <load ="partials/networks.html" />
  </div>
</div>
