<div class="modal" data-modal="book">
  <button class="modal-close js-modal-close">
    <svg class="icon" width="30" height="30">
      <use href="./img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="book-modal">
    <h3 class="title">Book a tour</h3>
    <p class="description">
      You can leave your application here and our manager will call you
      within 10 minutes
    </p>
    <form class="form">
      <input
        class="input"
        type="text"
        name="name"
        id="name"
        placeholder="Your name*"
        autocomplete="off"
        required
      />
      <input
        class="input"
        type="text"
        name="tel"
        id="tel"
        pattern="^\d{9}$"
        placeholder="Phone number*"
        autocomplete="off"
        required
      />
      <div class="checkboxes">
        <label class="check-container">
          <input type="checkbox" checked="checked" />
          <span class="checkmark"></span
          ><span class="value">Ascent to Hoverla</span>
        </label>

        <label class="check-container">
          <input type="checkbox" />
          <span class="checkmark"></span
          ><span class="value">Ski tour to Bukovel</span>
        </label>

        <label class="check-container">
          <input type="checkbox" />
          <span class="checkmark"></span
          ><span class="value">Week in Carpathians</span>
        </label>
      </div>
      <button class="btn" type="submit">call me</button>
    </form>
  </div>
</div>
