<ul class="nav">
    <li class="item">
        <a href="#about-us">About us</a>
    </li>
    <li class="item">
        <a href="#tours">Tours</a>
    </li>
    <li class="item">
        <a href="#reviews">Reviews</a>
    </li>
    <li class="item">
        <a href="#gallery">Gallery</a>
    </li>
    <li class="item">
        <a href="#contacts">Contacts</a>
    </li>
</ul>