<ul class="networks">
    <li class="network">
        <a target="_blank" href="https://telegram.org/">
            <svg class="icon" width="33" height="33">
                <use href="./img/sprite.svg#icon-telegram"></use>
            </svg>
        </a>
    </li>
    <li class="network">
        <a target="_blank" href="https://www.instagram.com/"><svg class="icon" width="33" height="33">
                <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
        </a>
    </li>
    <li class="network">
        <a target="_blank" href="https://www.facebook.com/"><svg class="icon" width="33" height="33">
                <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
        </a>
    </li>
</ul>