<section class="advantages">
  <h2 class="title">Our advantages</h2>
  <ul class="list">
    <li class="item">
      <svg class="icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      author's tours
    </li>
    <li class="item">
      <svg class="icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      іndividual approach
    </li>
    <li class="item">
      <svg class="icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      affordable prices
    </li>
    <li class="item">
      <svg class="icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      comfortable transfer
    </li>
    <li class="item">
      <svg class="icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      professional guides
    </li>
    <li class="item">
      <svg class="icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      accommodation in hotels from 3+ *
    </li>
  </ul>
</section>
