<section class="questions">
  <h2 class="title">Questions</h2>
  <div class="container">
    <div class="content">
      <h3 class="subtitle">Do you have any questions?</h3>
      <p class="text">
        You can leave your questions here and our manager will call you back
        within 10 minutes
      </p>
      <form class="form">
        <input
          class="input"
          type="text"
          name="name"
          id="name"
          placeholder="Your name*"
          autocomplete="off"
          required
        />
        <input
          class="input"
          type="text"
          name="tel"
          id="tel"
          pattern="^\d{9}$"
          placeholder="Phone number*"
          autocomplete="off"
          required
        />
        <input
          class="input"
          type="text"
          name="comment"
          id="comment"
          placeholder="What would you like to know?"
          autocomplete="off"
        />
        <button class="btn" type="submit">call me</button>
      </form>
    </div>
  </div>
</section>
