<section class="reviews" id="reviews">
  <h2 class="title">Reviews</h2>

  <ul class="cards">
    <li class="card card-1">
      <div class="card-inner card-inner-1">
        <div class="item card-front">
          <picture>
            <source
              srcset="
                ./img/desktop/review-client-1.png    1x,
                ./img/desktop/review-client-1@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/mobile/review-client-1.png    1x,
                ./img/mobile/review-client-1@2x.png 2x
              "
              media="(max-width: 1439px)"
            />

            <img
              class="img"
              src="./img/mobile/review-client-1.png"
              alt="Maria"
              width="100"
            />
          </picture>
          <h3 class="name">Maria</h3>
          <p class="text">
            It was really cool! We saw everything - sun, snow, rain, fog! It's
            very exciting and interesting, you won't regret it - it's worth
            going and seeing everything with your own eyes. Everything is
            organized at the highest level.
          </p>
        </div>
        <div class="card-back">
          <picture>
            <source
              srcset="
                ./img/desktop/review-photo-1.jpg    1x,
                ./img/desktop/review-photo-1@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/tablet/review-photo-1.jpg    1x,
                ./img/tablet/review-photo-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/review-photo-1.jpg    1x,
                ./img/mobile/review-photo-1@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="img"
              src="./img/mobile/review-photo-1.jpg"
              alt="Maria"
              width="311"
            />
          </picture>
        </div>
      </div>
    </li>
    <li class="card card-2">
      <div class="card-inner card-inner-2">
        <div class="item card-front">
          <picture>
            <source
              srcset="
                ./img/desktop/review-client-2.png    1x,
                ./img/desktop/review-client-2@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/mobile/review-client-2.png    1x,
                ./img/mobile/review-client-2@2x.png 2x
              "
              media="(max-width: 1439px)"
            />

            <img
              class="img"
              src="./img/mobile/review-client-2.png"
              alt="Ostap"
              width="100"
            />
          </picture>
          <h3 class="name">Ostap</h3>
          <p class="text">
            Good organization, everything went smoothly. Friendly guide Taras
            told interesting facts about the area and customs throughout the
            tour.
          </p>
        </div>
        <div class="card-back">
          <picture>
            <source
              srcset="
                ./img/desktop/review-photo-2.jpg    1x,
                ./img/desktop/review-photo-2@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/tablet/review-photo-2.jpg    1x,
                ./img/tablet/review-photo-2@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/review-photo-2.jpg    1x,
                ./img/mobile/review-photo-2@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="img"
              src="./img/mobile/review-photo-2.jpg"
              alt="Ostap"
              width="311"
            />
          </picture>
        </div>
      </div>
    </li>
    <li class="card card-3">
      <div class="card-inner card-inner-3">
        <div class="item card-front">
          <picture>
            <source
              srcset="
                ./img/desktop/review-client-3.png    1x,
                ./img/desktop/review-client-3@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              class="img"
              src="./img/desktop/review-client-3.png"
              alt="Anita"
              width="125"
            />
          </picture>
          <h3 class="name">Anita</h3>
          <p class="text">
            Who is going to the mountains for the first time - this is exactly
            the tour and the people who organize everything. Guide Makar is
            interesting stories, selection of a route for a comfortable ascent,
            motivation and support.
          </p>
        </div>
        <div class="card-back">
          <picture>
            <source
              srcset="
                ./img/desktop/review-photo-3.jpg    1x,
                ./img/desktop/review-photo-3@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              class="img"
              src="./img/desktop/review-photo-3.jpg"
              alt="Anita"
              width="311"
            />
          </picture>
        </div>
      </div>
    </li>
  </ul>
</section>
