<section class="tours" id="tours">
  <h2 class="title">Upcoming tours</h2>
  <div class="swiper" data-id="tours">
    <ul class="list swiper-wrapper">
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="./img/desktop/tour-1.jpg 1x, ./img/desktop/tour-1@2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/tablet/tour-1.jpg 1x, ./img/tablet/tour-1@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/mobile/tour-1.jpg 1x, ./img/mobile/tour-1@2x.jpg 2x"
            media="(max-width: 767px)"
          />

          <img
            class="img"
            src="./img/mobile/tour-1.jpg"
            alt="Ascent to Hoverla"
            width="311"
            height="338"
          />
        </picture>
        <div class="content">
          <h3 class="subtitle">Ascent to Hoverla</h3>
          <p class="price">From UAH 4,499/person</p>
          <button class="btn" type="button">MORE DETAILS</button>
        </div>
      </li>
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="./img/desktop/tour-2.jpg 1x, ./img/desktop/tour-2@2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/tablet/tour-2.jpg 1x, ./img/tablet/tour-2@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/mobile/tour-2.jpg 1x, ./img/mobile/tour-2@2x.jpg 2x"
            media="(max-width: 767px)"
          />

          <img
            class="img"
            src="./img/mobile/tour-2.jpg"
            alt="Ski tour to Bukovel"
            width="311"
            height="338"
          />
        </picture>
        <div class="content">
          <h3 class="subtitle">Ski tour to Bukovel</h3>
          <p class="price">From UAH 7,499/person</p>
          <button class="btn" type="button">MORE DETAILS</button>
        </div>
      </li>
      <li class="swiper-slide item">
        <picture>
          <source
            srcset="./img/desktop/tour-3.jpg 1x, ./img/desktop/tour-3@2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/tablet/tour-3.jpg 1x, ./img/tablet/tour-3@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/mobile/tour-3.jpg 1x, ./img/mobile/tour-3@2x.jpg 2x"
            media="(max-width: 767px)"
          />

          <img
            class="img"
            src="./img/mobile/tour-3.jpg"
            alt="Week in Carpathians"
            width="311"
            height="338"
          />
        </picture>
        <div class="content">
          <h3 class="subtitle">Week in Carpathians</h3>
          <p class="price">From UAH 9,999/person</p>
          <button class="btn" type="button">MORE DETAILS</button>
        </div>
      </li>
    </ul>
    <div class="navigation">
      <div class="swiper-button-prev-tours">
        <svg class="icon" width="11" height="19">
          <use href="./img/sprite.svg#icon-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next-tours">
        <svg class="icon" width="11" height="19">
          <use href="./img/sprite.svg#icon-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
