.about-us {
  padding-top: 52px;
  margin: 0 auto;
  max-width: 311px;
}
@media only screen and (min-width: 768px) {
  .about-us {
    padding: 80px 20px 0;
    max-width: 728px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-us {
    padding-top: 80px;
    max-width: 1171px;
  }
}
