.btn {
  border: none;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  padding: 16px;
  width: 100%;
    text-transform: uppercase;
  transition: var(--transition) all;
}
.btn:hover {
  background-color: var(--black);
}
@media only screen and (min-width: 768px) {
  .btn {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .btn {
    font-size: 24px;
  }
}
