.footer {
  background-color: var(--dark);
  color: var(--white);
  padding: 40px 45px;
}
.footer .title {
  color: var(--white);
  font-size: 28px;
  margin-bottom: 30px;
}
.footer .content {
  width: 280px;
  margin: 0 auto;
}
.footer .item,
.footer .item .link {
  display: flex;
  align-items: center;
}
.footer .item:not(:last-of-type) {
  margin-bottom: 24px;
}
.footer .item .icon {
  margin-right: 6px;
  fill: var(--white);
}
.footer .item .link:hover {
  transition: var(--transition) all;
  color: var(--blue);
}
.footer .item .link:hover .icon {
  transition: var(--transition) all;
  fill: var(--blue);
}
.footer .networks {
  display: flex;
  margin-top: 29px;
  margin-bottom: 43px;
}
.footer .network:not(:last-of-type) {
  margin-right: 38px;
}
.footer .copyright {
  color: var(--grey);
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 64px 114px;
  }
  .footer .container {
    display: flex;
    justify-content: center;
  }
  .footer .title {
    font-size: 32px;
    margin: 0;
  }
  .footer .content {
    margin: 0;
    margin-left: 145px;
  }
  .footer .item {
    font-size: 18px;
  }
  .footer .item .icon {
    margin-right: 8px;
  }
  .footer .item .icon,
  .footer .network .icon {
    width: 40px;
    height: 40px;
  }
  .footer .copyright {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer {
    padding: 60px 114px;
  }
  .footer .title {
    font-size: 60px;
  }
  .footer .content {
    margin-left: 136px;
    width: 380px;
  }
  .footer .item {
    font-size: 24px;
  }
  .footer .item .icon {
    margin-right: 12px;
  }
}
