.gallery .swiper {
  padding: 0 32px;
}
.gallery .list {
  margin-bottom: 28px;
}
.gallery .swiper-slide {
  width: 280px !important;
}
.gallery .swiper-slide img {
  height: 480px;
}
.gallery .navigation {
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
  margin-bottom: 56px;
}
.swiper .swiper-button-prev-gallery {
  margin-right: 60px;
}
.swiper .swiper-button-prev-gallery,
.swiper .swiper-button-next-gallery {
  fill: var(--grey);
}
.swiper .swiper-button-prev-gallery:hover,
.swiper .swiper-button-next-gallery:hover {
  fill: var(--blue);
}
@media only screen and (min-width: 768px) {
  .gallery .swiper {
    padding: 0;
    width: 728px;
  }
  .gallery .list {
    margin-bottom: 36px;
  }
  .gallery .swiper-slide {
    width: 354px !important;
  }
  .gallery .swiper-slide img {
    height: 275px;
    width: 354px;
  }
  .gallery .navigation {
    margin-bottom: 85px;
  }
}
@media only screen and (min-width: 1440px) {
  .gallery .swiper {
    width: 1168px;
  }
  .gallery .list {
    margin-bottom: 46px;
  }
  .gallery .swiper-slide {
    width: 575px !important;
  }
  .gallery .swiper-slide img {
    height: 445px;
    width: 575px;
  }
  .gallery .navigation {
    margin-bottom: 134px;
  }
}
