.header {
  position: absolute;
  padding: 22px 35px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header .menu {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  stroke: var(--white);
}
.header .menu:hover {
  stroke: var(--blue);
}
.header .nav {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 25px 84px;
  }
  .header .logo .icon {
    width: 56px;
    height: 58px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    justify-content: center;
    align-items: center;
  }
  .header .menu {
    display: none;
  }
  .header .nav {
    display: block;
    margin: 0;
    margin-left: 320px;
  }
  .header .nav .item {
    margin: 0;
  }
  .header .nav .item:not(:last-of-type) {
    margin-right: 80px;
  }
}
