.hero {
  background: url(../img/mobile/hero.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 190px 0 200px;
  color: var(--white);
  text-align: center;
  background-size: auto 790px;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    background-image: url(../img/mobile/hero@2x.jpg);
    background-position: bottom center;
    background-size: auto 790px;
  }
}
.hero .content {
  width: 305px;
  margin: 0 auto;
}
.hero .title {
  color: var(--white);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 60px;
}
.hero .subtitle {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 88px;
}
.hero .btn {
  text-transform: uppercase;
}
.hero .box {
  position: relative;
}
.hero .networks {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hero {
    background: url(../img/tablet/hero.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 180px 20px 185px;
    background-size: cover;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .hero {
      background-image: url(../img/tablet/hero@2x.jpg);
      background-position: bottom center;
      background-size: cover;
    }
  }
  .hero .content {
    width: auto;
  }
  .hero .title {
    font-size: 68px;
    margin-bottom: 40px;
  }
  .hero .subtitle {
    font-size: 20px;
    padding: 0 129px;
    margin-bottom: 60px;
  }
  .hero .btn {
    width: 390px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero {
    background: url(../img/desktop/hero.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 280px 135px 190px;
    background-size: 100% 1024px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .hero {
      background-image: url(../img/desktop/hero@2x.jpg);
      background-position: bottom center;
      background-size: 100% 1024px;
    }
  }
  .hero .title {
    font-size: 88px;
  }
  .hero .subtitle {
    font-size: 28px;
    padding: 0 240px;
    margin-bottom: 60px;
  }
  .hero .box {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
  }
  .hero .networks {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
  }
  .hero .networks .network:not(:last-of-type) {
    margin-bottom: 38px;
  }
  .hero .btn {
    width: 575px;
    font-size: 24px;
    padding: 20px;
  }
}
