.modal[data-modal='menu'] {
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
  width: 100%;
  min-height: 100vh;
  height: auto;
  color: var(--white);
  font-size: 28px;
  padding: 0;
}
.modal[data-modal='menu'] .modal-close {
  stroke: var(--white);
  top: 21px;
  right: 32px;
}
.modal[data-modal='menu'] .modal-close:hover {
  stroke: var(--blue);
}
.menu-modal {
  width: 233px;
  min-height: 100vh;
  height: auto;
  background: rgba(32, 35, 33, 0.7);
  padding: 22px 32px;
}
.menu-modal .network:not(:last-of-type) {
  margin-bottom: 38px;
}
@media only screen and (min-width: 768px) {
  .menu-modal {
    width: 374px;
    padding: 25px 160px 25px 82px;
  }
  .modal[data-modal='menu'] .modal-close {
    top: 24px;
    right: 85px;
  }
  .menu-modal .logo .icon {
    width: 56px;
    height: 58px;
  }
  .menu-modal .nav .item {
    font-weight: 500;
  }
  .menu-modal .networks {
    display: flex;
  }
  .menu-modal .network:not(:last-of-type) {
    margin-right: 38px;
  }
}
