.modal-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;

  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 311px;
  max-height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  background-color: var(--light-bcg-color);
  transition: var(--transition) all;
  color: var(--black);
  padding: 32px 24px;
}
.modal.active,
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(10px);
    background: rgba(32, 35, 33, 0.2);
}
.modal-close {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  transition: background-color var(--transition), border var(--transition);
  stroke: var(--black);
}
.modal-close:hover,
.modal-close:focus {
  stroke: var(--orange);
}

