.modal[data-modal='book'] {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  color: var(--black);
  padding: 0;
  width: 375px;
}
.modal[data-modal='book'] .modal-close {
  stroke: var(--black);
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
}
.modal[data-modal='book'] .modal-close:hover {
  stroke: var(--blue);
}
.book-modal {
  width: 375px;
  padding: 52px 28px 36px;
  text-align: center;
}
.book-modal .title {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
}
.book-modal .description {
  font-size: 14px;
  margin-bottom: 16px;
}
.book-modal .form .input {
  padding: 8px 4px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--grey);
  background-color: transparent;
}
.book-modal .form .input::placeholder {
  color: var(--dark);
}
.book-modal .form .input:not(:last-of-type) {
  margin-bottom: 12px;
}
.book-modal .form .input:focus {
  outline: none;
  border-bottom: 1px solid var(--blue);
}
.book-modal .form .checkboxes {
  margin-top: 20px;
  margin-bottom: 26px;
}
.book-modal .form .check-container {
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;
}
.book-modal .form .check-container:not(:last-of-type) {
  margin-bottom: 30px;
}
.book-modal .form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: var(--white);
  border: 1px solid var(--black);
}
.book-modal .form .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.book-modal .form .check-container input:checked ~ .checkmark:after {
  display: block;
}
.book-modal .form .check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: 1px solid var(--black);
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.book-modal .form .check-container .value {
  display: inline-block;
  margin-left: 26px;
}
@media only screen and (min-width: 768px) {
  .modal[data-modal='book'] {
    width: 478px;
  }
  .book-modal {
    width: 478px;
  }
  .book-modal .title {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .book-modal .description {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .book-modal .form .input {
    font-size: 20px;
    width: 90%;
  }
  .book-modal .form .input:not(:last-of-type) {
    margin-bottom: 16px;
  }
  .book-modal .form .checkboxes {
    width: 90%;
    margin: 24px auto 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .modal[data-modal='book'] {
    width: 774px;
  }
  .modal[data-modal='book'] .modal-close{
    top: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
  }
  .book-modal {
    width: 774px;
    padding: 116px 100px 60px;
  }
  .book-modal .title {
    font-size: 60px;
    margin-bottom: 28px;
  }
  .book-modal .description {
    font-size: 24px;
  }
  .book-modal .form .input {
    width: 100%;
    font-size: 24px;
  }
  .book-modal .form .checkboxes {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 44px;
  }
   .book-modal .btn {
     padding: 20px;
   }
}
