.nav {
  margin-top: 74px;
  margin-bottom: 67px;
}
.nav .item {
  position: relative;
  display: inline-block;
}
.nav .item::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom right;
  transition: transform 250ms ease-out;
}
.nav .item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav .item:not(:last-of-type) {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .nav {
    margin-top: 100px;
    margin-bottom: 83px;
  }
}
