.advantages {
  padding: 52px 30px;
  color: var(--white);
}
.advantages .list {
  background: url(../img/mobile/advantages-1.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 87px 0;
  max-width: 315px;
  margin: 0 auto;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .advantages .list {
    background-image: url(../img/mobile/advantages-1@2x.jpg);
    background-size: cover;
    background-position: bottom center;
  }
}
.advantages .item {
  display: flex;
  align-items: center;
  background-color: var(--blue);
  padding: 10px 7px 10px 32px;
  font-size: 14px;
}
.advantages .item:not(:last-of-type) {
  margin-bottom: 28px;
}
.advantages .item .icon {
  display: inline-block;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .advantages {
    padding: 80px 20px;
    width: 100%;
  }
  .advantages .list {
    background: url(../img/tablet/advantages-1.jpg),
      url(../img/tablet/advantages-2.jpg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: 354px 441px, 354px 441px;
    padding: 80px 62px;
    max-width: 728px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .advantages .list {
      background-image: url(../img/tablet/advantages-1@2x.jpg),
        url(../img/tablet/advantages-2@2x.jpg);
      background-size: 354px 441px, 354px 441px;
      background-position: top left, bottom right;
    }
  }
  .advantages .item {
    padding: 19px 51px;
    font-size: 20px;
  }
  .advantages .item:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .advantages .item .icon {
    margin-right: 19px;
  }
}
@media only screen and (min-width: 1440px) {
  .advantages {
    padding: 80px 134px;
  }
  .advantages .list {
    background: url(../img/desktop/advantages-1.jpg),
      url(../img/desktop/advantages-2.jpg), url(../img/desktop/advantages-3.jpg);
    background-position: top left, center 80px, bottom right;
    background-repeat: no-repeat;
    background-size: 377px 588px, 377px 507px, 377px 588px;
    padding: 80px 270px;
    max-width: 1171px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .advantages .list {
      background-image: url(../img/desktop/advantages-1@2x.jpg),
        url(../img/desktop/advantages-2@2x.jpg),
        url(../img/desktop/advantages-3@2x.jpg);
      background-size: 377px 588px, 377px 507px, 377px 588px;
      background-position: top left, center 80px, bottom right;
    }
  }
  .advantages .item {
    padding: 18px 30px 18px 133px;
    font-size: 24px;
  }
  .advantages .item:not(:last-of-type) {
    margin-bottom: 24px;
  }
}
