.questions {
  background: url(../img/mobile/questions.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 634px;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .questions {
    background-image: url(../img/mobile/questions@2x.jpg);
    background-size: cover;
    background-position: bottom center;
  }
}
.questions .title {
  display: none;
}
.questions .container {
  padding: 116px 32px;
}
.questions .container .content {
  padding: 28px 20px;
  background-color: var(--white);
  text-align: center;
  max-width: 311px;
  margin: 0 auto;
}
.questions .container .content .subtitle {
  font-size: 20px;
  font-weight: 500;
  padding: 0 55px;
  margin-bottom: 20px;
}
.questions .container .content .text {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 16px;
}
.questions .container .content .form .input {
  padding: 8px 4px;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--grey);
  background-color: transparent;
}
.questions .container .content .form .input::placeholder {
  color: var(--dark);
}
.questions .container .content .form .input:not(:last-of-type) {
  margin-bottom: 12px;
}
.questions .container .content .form .input:focus {
  outline: none;
  border-bottom: 1px solid var(--blue);
}
.questions .container .content .form .btn {
  margin-top: 24px;
}
@media only screen and (min-width: 768px) {
  .questions {
    height: 690px;
    background: url(../img/tablet/questions.jpg);
    background-size: cover;
    background-position: bottom center;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .questions {
      background-image: url(../img/tablet/questions@2x.jpg);
      background-size: cover;
      background-position: bottom center;
    }
  }
  .questions .container {
    padding: 88px 30px;
  }
  .questions .container .content {
    padding: 40px 42px;
    max-width: 478px;
  }
  .questions .container .content .subtitle {
    font-size: 32px;
    padding: 0 65px;
    margin-bottom: 24px;
  }
  .questions .container .content .text {
    font-size: 18px;
    padding: 0 20px;
    margin-bottom: 24px;
  }
  .questions .container .content .form .input {
    width: 90%;
    font-size: 20px;
  }
  .questions .container .content .form .input:not(:last-of-type) {
    margin-bottom: 16px;
  }
  .questions .container .content .form .btn {
    margin-top: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .questions {
    height: 1074px;
    background: url(../img/desktop/questions.jpg);
    background-size: cover;
    background-position: bottom center;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .questions {
      background-image: url(../img/desktop/questions@2x.jpg);
      background-size: cover;
      background-position: bottom center;
    }
  }
  .questions .container {
    padding: 244px 330px;
  }
  .questions .container .content {
    padding: 60px 46px;
    max-width: 774px;
  }
  .questions .container .content .subtitle {
    font-size: 48px;
    padding: 0;
    margin-bottom: 32px;
  }
  .questions .container .content .text {
    font-size: 20px;
    padding: 0 85px;
    margin-bottom: 36px;
  }
  .questions .container .content .form .input {
    width: 90%;
    font-size: 24px;
  }
  .questions .container .content .form .input:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .questions .container .content .form .btn {
    margin-top: 44px;
    width: 90%;
    padding: 20px 0;
  }
}
