.reviews {
  padding: 52px 32px;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  background-color: transparent;
  width: 311px;
  height: 452px;
  perspective: 1000px;
}
.card:nth-child(-n + 1) {
  margin-bottom: 32px;
}
.card:last-child {
  display: none;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid var(--blue);
}
.card-front {
  color: black;
  background-image: url(../img/mobile/review-background.jpg);
  background-size: 311px auto;
  background-position: top;
  background-repeat: no-repeat;
  padding: 82px 33px 48px;
}
.card-front .img {
  margin: 0 auto;
  border-radius: 100%;
  margin-bottom: 20px;
  width: 100px;
}
.card-front .name {
  color: var(--blue);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}
.card-front .text {
  text-align: left;
  margin: 0;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .card-front {
    background-image: url(../img/mobile/review-background@2x.jpg);
    background-position: top;
    background-size: 311px auto;
  }
}
.card-back {
  transform: rotateY(180deg);
}
.card-back .img {
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .reviews {
    padding: 80px 20px;
  }
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .card {
    background-color: transparent;
    width: 354px;
    height: 504px;
    perspective: 1000px;
    transition: var(--transition) all;
  }
  .card:nth-child(-n + 1) {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .card-front {
    background-image: url(../img/tablet/review-background.jpg);
    background-size: 354px auto;
    background-position: top;
    background-repeat: no-repeat;
    padding: 84px 20px 51px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .card-front {
      background-image: url(../img/tablet/review-background@2x.jpg);
      background-position: top;
      background-size: 354px auto;
    }
  }
  .card-back .img {
    height: 100%;
    width: 354px;
  }
  .card-front .name {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .reviews {
    padding: 80px 135px;
  }
  .reviews .title {
    margin-bottom: 70px;
  }
  .card {
    background-color: transparent;
    width: 376px;
    height: 570px;
    perspective: 1000px;
  }
  .card:not(:last-of-type) {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .card:last-child {
    display: block;
  }
  .card-front {
    background-image: url(../img/desktop/review-background.jpg);
    background-size: 376px auto;
    background-position: top;
    background-repeat: no-repeat;
    padding: 72px 28px 103px;
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    .card-front {
      background-image: url(../img/desktop/review-background@2x.jpg);
      background-position: top;
      background-size: 376px auto;
    }
  }
  .card-front .img {
    width: 125px;
  }
  .card-back .img {
    height: 100%;
    width: 376px;
  }
  .card-front .name {
    font-size: 28px;
  }
  .card-front .text {
    font-size: 20px;
  }
}
