@import url('./reset.css');
@import url('./title.css');
@import url('./navigation.css');
@import url('./networks.css');
@import url('./button.css');
@import url('./menu.css');
@import url('./modal.css');
@import url('./modal-book.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./our-advantages.css');
@import url('./upcoming-tours.css');
@import url('./reviews.css');
@import url('./gallery.css');
@import url('./questions.css');
@import url('./footer.css');

:root {
  --white: #f7fbfb;
  --black: #1b1d1b;
  --dark: #202321;
  --grey: #a3a5a3;
  --blue: #5b86a1;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--dark);
  background-color: var(--white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.stop-scroll {
  overflow: hidden;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .body {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .body {
    font-size: 24px;
  }
}
