.title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 28px;
  text-align: center;
  color: var(--black);
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 52px;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  .title {
    font-size: 68px;
    margin-bottom: 60px;
  }
}
