.tours .swiper {
  width: 311px;
  text-align: center;
}
.tours .list {
  margin-bottom: 28px;
}
.tours .item {
  border: 1px solid var(--blue);
}
.tours .item .img {
  height: 338px;
  display: block;
}
.tours .item .content {
  padding: 28px 20px;
  text-align: left;
}
.tours .item .subtitle {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}
.tours .item .price {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}
.tours .navigation {
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
}
.swiper .swiper-button-prev-tours {
  margin-right: 60px;
}
.swiper .swiper-button-prev-tours,
.swiper .swiper-button-next-tours {
  fill: var(--grey);
}
.swiper .swiper-button-prev-tours:hover,
.swiper .swiper-button-next-tours:hover {
  fill: var(--blue);
}
@media only screen and (min-width: 768px) {
  .tours .swiper {
    width: 728px;
  }
  .tours .list {
    margin-bottom: 36px;
  }
  .tours .swiper .item {
    width: 354px;
  }
  .tours .item .img {
    height: 357px;
    width: 354px;
  }
  .tours .item .content {
    padding: 48px 20px;
  }
  .tours .item .subtitle {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .tours .item .price {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .swiper .swiper-button-prev-tours {
    margin-right: 62px;
  }
  .swiper .swiper-button-prev-tours,
  .swiper .swiper-button-next-tours {
    width: 12px;
    height: 21px;
  }
}
@media only screen and (min-width: 1440px) {
  .tours .swiper {
    width: 1168px;
  }
  .tours .list {
    margin: 0;
  }
  .tours .swiper .item {
    width: 377px;
  }
  .tours .item .img {
    height: 438px;
    width: 377px;
  }
  .tours .item .content {
    padding: 44px 20px;
  }
  .tours .item .subtitle {
    font-size: 28px;
  }
  .tours .item .price {
    font-size: 24px;
    margin-bottom: 36px;
  }
  .tours .navigation {
    padding: 0;
  }
}
